<div class="title">Simple, transparent pricing</div>
<div class="subtitle">No contracts. No surprise fees.</div>
<div class="pricing-card">
    <div class="basic">
        <div class="basic__top">
            <div class="basic__icon-with-title">
                <div class="basic__icon-background">
                    <img
                        src="../../../../assets/icons/BasicSubscriptionIcon.svg"
                        alt="Basic Subscription Icon"
                    />
                </div>
                <div class="basic__title">
                    <div class="basic__subscription-subname">For newbies</div>
                    <div class="basic__subscription-name">Basic</div>
                </div>
            </div>
            <div class="basic__subscription-short-description">
                Get access to the essential features to start your auction
                journey.
            </div>
        </div>
        <div class="subscription">
            <div class="subscription__price">FREE</div>
            <div class="subscription__content-description">
                <div class="subscription__what-included">What's included:</div>
                <div class="subscription__property-list">
                    <div class="subscription__check-list-item">
                        <div class="subscription__check-circle">
                            <img
                                src="../../../../assets/icons/BasicCheckCircleIcon.svg"
                                alt="Check Circle Icon"
                            />
                        </div>
                        <div class="subscription__property-description">
                            Essential Auction Access
                        </div>
                    </div>
                    <div class="subscription__check-list-item">
                        <div class="subscription__filled-check-circle">
                            <img
                                src="../../../../assets/icons/BasicCheckCircleIcon.svg"
                                alt="Check Circle Icon"
                            />
                        </div>
                        <div class="subscription__property-description">
                            Bid History Overview
                        </div>
                    </div>
                    <div class="subscription__check-list-item">
                        <div class="subscription__filled-check-circle">
                            <img
                                src="../../../../assets/icons/BasicCheckCircleIcon.svg"
                                alt="Check Circle Icon"
                            />
                        </div>
                        <div class="subscription__property-description">
                            Early Auction Notifications
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pro">
        <div class="pro__top">
            <div class="pro_popular-top">
                <div class="pro__icon-with-title">
                    <div class="pro__icon-background">
                        <img
                            src="../../../../assets/icons/ProSubscriptionIcon.svg"
                            alt="Pro Subscription Icon"
                        />
                    </div>
                    <div class="pro__title">
                        <div class="pro__subscription-subname">
                            For professionals
                        </div>
                        <div class="pro__subscription-name">Pro</div>
                    </div>
                </div>
                <div class="pro__popular">Popular</div>
            </div>
            <div class="pro__subscription-short-description">
                Get access to the advanced features to take your auction journey
                to the next level.
            </div>
        </div>
        <div class="subscription">
            <div class="subscription__cost">
                <div class="subscription__price" style="color: #ffffff">
                    $19.9
                </div>
                <div class="spacer"></div>
                <div class="monthly">/monthly</div>
            </div>
            <div class="subscription__content-description">
                <div class="subscription__what-included" style="color: #ffffff">
                    What's included:
                </div>
                <div class="subscription__property-list">
                    <div class="subscription__check-list-item">
                        <div class="subscription__check-circle">
                            <img
                                src="../../../../assets/icons/ProCheckCircle.svg"
                                alt="Check Circle Icon"
                            />
                        </div>
                        <div
                            class="subscription__property-description"
                            style="color: #ffffff"
                        >
                            Everything what comes in Basic
                        </div>
                    </div>
                    <div class="subscription__check-list-item">
                        <div class="subscription__check-circle">
                            <img
                                src="../../../../assets/icons/ProCheckCircle.svg"
                                alt="Check Circle Icon"
                            />
                        </div>
                        <div
                            class="subscription__property-description"
                            style="color: #ffffff"
                        >
                            Advanced Statistics
                        </div>
                    </div>
                    <div class="subscription__check-list-item">
                        <div class="subscription__check-circle">
                            <img
                                src="../../../../assets/icons/ProCheckCircle.svg"
                                alt="Check Circle Icon"
                            />
                        </div>
                        <div
                            class="subscription__property-description"
                            style="color: #ffffff"
                        >
                            Premium Auction Access
                        </div>
                    </div>
                    <div class="subscription__check-list-item">
                        <div class="subscription__check-circle">
                            <img
                                src="../../../../assets/icons/ProCheckCircle.svg"
                                alt="Check Circle Icon"
                            />
                        </div>
                        <div
                            class="subscription__property-description"
                            style="color: #ffffff"
                        >
                            Downloadable Stats in Preferred Format
                        </div>
                    </div>
                    <div class="subscription__check-list-item">
                        <div class="subscription__check-circle">
                            <img
                                src="../../../../assets/icons/ProCheckCircle.svg"
                                alt="Check Circle Icon"
                            />
                        </div>
                        <div
                            class="subscription__property-description"
                            style="color: #ffffff"
                        >
                            Priority Customer Support
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
            mat-flat-button
            class="get-started-button"
            (click)="openConfirmProSubscriptionDialog()"
        >
            Get started today
        </button>
    </div>
</div>
