.title {
    color: var(--color-text-primary);
    text-align: left;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 16px;
    position: relative;
}

.subtitle {
    color: var(--color-grey-3);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    padding-bottom: 40px;
}

.pricing-card {
    display: flex;
    gap: 24px;
}

.basic {
    box-sizing: border-box;
    background: var(--color-neutral-100);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--color-neutral-300);
    border-width: 1px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    box-shadow: var(--general-shadow-02-box-shadow);
    max-width: 748px;
    max-height: 680px;

    &__top {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    &__icon-with-title {
        display: flex;
        flex-direction: row;
        gap: 18px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    &__icon-background {
        background: var(--color-container);
        border-radius: 16px;
        width: 72px;
        height: 72px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
        right: 0%;
        left: 0%;
        bottom: 0%;
        top: 0%;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    &__subscription-subname {
        color: var(--color-text-primary);
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        position: relative;
    }

    &__subscription-name {
        color: var(--color-text-primary);
        text-align: left;
        font-size: 24px;
        line-height: 35px;
        font-weight: 700;
        position: relative;
    }

    &__subscription-short-description {
        color: var(--color-text-primary);
        text-align: left;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        position: relative;
        width: 307px;
    }
}

.pro {
    box-sizing: border-box;
    background: var(--color-main);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--color-neutral-300);
    border-width: 1px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    box-shadow: var(--general-shadow-02-box-shadow);
    max-width: 748px;
    max-height: 680px;

    &__top {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    &_popular-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    &__icon-with-title {
        display: flex;
        flex-direction: row;
        gap: 18px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    &__icon-background {
        background: var(--color-grey-scale-white);
        border-radius: 16px;
        right: 0%;
        left: 0%;
        bottom: 0%;
        top: 0%;
        width: 72px;
        height: 72px;
        position: relative;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    &__subscription-subname {
        color: var(--color-grey-scale-white);
        text-align: center;
        font-family: 'Onest-Medium', sans-serif;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        position: relative;
    }

    &__subscription-name {
        color: var(--color-grey-scale-white);
        text-align: left;
        font-family: 'Onest-Bold', sans-serif;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        position: relative;
    }

    &__popular {
        background: var(--color-container);
        border-radius: 8px;
        padding: 8px 24px 8px 24px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
        color: var(--main, #2b5293);
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }

    &__subscription-short-description {
        color: var(--color-grey-scale-white);
        text-align: left;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        position: relative;
        width: 370px;
    }
}

.subscription {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;

    &__price {
        color: var(--color-text-primary);
        text-align: left;
        font-size: 56px;
        line-height: 64px;
        font-weight: 700;
        position: relative;

        display: flex;
        flex-direction: row;
        gap: 4px;
        justify-content: flex-start;
        flex-shrink: 0;
    }

    &__cost {
        display: flex;
        flex-direction: row;
        gap: 4px;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    &__content-description {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    &__what-included {
        color: var(--color-text-primary);
        text-align: left;
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        position: relative;
    }

    &__property-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    &__check-list-item {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    &__check-circle {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;
        overflow: hidden;
    }

    &__property-description {
        color: var(--color-text-primary);
        text-align: left;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        position: relative;
    }
}

.spacer {
    background: var(--color-grey-6);
    opacity: 0;
    flex-shrink: 0;
    width: 6px;
    height: 5.57px;
    position: relative;
}

.monthly {
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.get-started-button {
    color: var(--color-main);
    text-align: center;
    line-height: 24px;
    font-weight: 700;

    &:hover {
        background: #fff;
        color: var(--color-main);
        box-shadow: 0 0 30px 5px #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    &:hover::before {
        -webkit-animation: sh02 0.5s 0s linear;
        -moz-animation: sh02 0.5s 0s linear;
        animation: sh02 0.5s 0s linear;
    }

    &::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

    @keyframes sh02 {
        from {
            opacity: 0;
            left: 0%;
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 0;
            left: 100%;
        }
    }

    &:active {
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: box-shadow 0.2s ease-in;
        -moz-transition: box-shadow 0.2s ease-in;
        transition: box-shadow 0.2s ease-in;
    }
}
