h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.chat {
    display: flex;
    gap: 40px;
    position: relative;
    max-height: 90vh;

    &__separator {
        width: 1px;
        min-height: 100%;
        background-color: var(--color-container);
    }

    &__conversations {
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &__window {
        display: flex;
        flex: 1 1;

        &-conversation {
            flex: 1 1;
        }
    }
}

.chats {
    max-width: 395px;
    display: block;
}