<ng-container *ngIf="!isAnyChats; else conversation_available">
    <h2>Messages</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-3 d-flex flex-column" style="gap: 40px">
            <div class="col-12">
                <div class="image">
                    <img
                        src="../../../../../assets/images/undraw_manage_chats_re_0yoj 1.svg"
                        alt=""
                    />
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center flex-column">
                <h2 class="text-center">Nothing here yet</h2>
                <p class="text-center">
                    You must win an auction to start a chat with seller
                </p>
            </div>
            <div class="col-12">
                <button type="button" mat-flat-button color="primary">
                    View lots
                </button>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #conversation_available>
    <div class="chat" [ngClass]="getMainChatContainerWidthClass()">
        <div class="chat__conversations">
            <h2>Messages</h2>
            <ng-container
                *ngIf="
                    chatConversations != null && chatConversations.length > 0
                "
            >
                <app-chats
                    #chats
                    class="chats"
                    [conversations]="chatConversations"
                    (conversationChosen)="handleConversationChange($event)"
                ></app-chats>
            </ng-container>
        </div>
        <div class="chat__separator"></div>
        <div class="chat__window">
            <ng-container *ngIf="chosenConversation !== null; else no_chat">
                <app-conversation-window
                    #conversation_window
                    class="chat__window-conversation"
                    [conversation]="chosenConversation"
                    [updateChatEvent]="updateChatSubject.asObservable()"
                    (messageSent)="getAllUserConversations()"
                >
                </app-conversation-window>
            </ng-container>
            <ng-template #no_chat>
                <div class="chat__window-no-chat">
                    <img
                        src="../../../../../assets/images/select_chat.svg"
                        alt="select chat image"
                    />
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>
