<div class="reset-password">
    <div class="reset-password__container">
        <div class="reset-password__container-inner">
            <div class="reset-password__header">
                <h1>Reset password</h1>
                <p>Enter your email and we'll send instructions to<br>
                    reset your password</p>
            </div>

            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" action="submit" class="reset-password__form form">



                <mat-form-field color="primary" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input formControlName="password" matInput>
                    <mat-error>Password required</mat-error>
                </mat-form-field>

                <mat-form-field color="primary" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="confirmPassword" matInput>
                    <mat-error>Password required</mat-error>
                </mat-form-field>

                <button type="submit" disabled="{{isLoading}}" mat-raised-button color="primary">
                    <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                    <div *ngIf="!isLoading">Reset</div>
                </button>

            </form>
            <button 
            disabled="{{isLoading}}" 
            mat-raised-button 
            color="white"
            (click)="goToLoginPage()">
                <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                <div>Back to Login Page</div>
            </button>
        </div>
    </div>
</div>
