<div class="reset-password">
    <div class="general-auth-background"></div>
    <div class="reset-password__container">
        <div class="reset-password__container-inner">
            <div class="reset-password__header">
                <h1>Reset password</h1>
                <p>Please provide new password</p>
            </div>

            <form
                [formGroup]="resetPasswordForm"
                (ngSubmit)="onSubmit()"
                action="submit"
                class="reset-password__form form"
            >
                <input formControlName="email" type="hidden" />
                <input formControlName="token" type="hidden" />

                <mat-form-field color="primary" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input
                        formControlName="newPassword"
                        matInput
                        [type]="passwordHidden ? 'password' : 'text'"
                    />
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="togglePasswordVisibility()"
                        aria-label="Toggle password visibility"
                    >
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <mat-error>Password required</mat-error>
                </mat-form-field>

                <mat-form-field color="primary" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input
                        formControlName="confirmPassword"
                        matInput
                        [type]="passwordHidden ? 'password' : 'text'"
                    />
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="togglePasswordVisibility()"
                        aria-label="Toggle password visibility"
                    >
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <mat-error>Password required</mat-error>
                </mat-form-field>

                <button
                    type="submit"
                    disabled="{{ isLoading }}"
                    mat-raised-button
                    color="primary"
                >
                    <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                    <div *ngIf="!isLoading">Reset</div>
                </button>
            </form>
            <button mat-raised-button color="white" (click)="goToLoginPage()">
                <div>Back to Login Page</div>
            </button>
        </div>
    </div>
</div>
