.reset-password {
    width: 100%;
    height: 100%;
    padding-top: 114px;
    padding-bottom: 194px;

    &__container {
        margin: 0 auto;
        width: 496px;
        border-radius: 24px;
        background-color: white;
    }

    &__container-inner {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 40px 48px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & p {
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--color-grey-3);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}