.dashboard {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        gap: 40px;
        margin: 0 auto;
    }

    &__rating-section {
        display: flex;
        gap: 32px;
        border-radius: 16px;
        border: 1px solid #e0e0e0;
        padding: 40px;
        min-width: 200px;
    }

    &__rating-left {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__options {
        display: flex;
        gap: 16px;
    }

    &__options button {
        height: 48px;
        border-radius: 32px;
        border: none;
        background-color: #F2F5F7;
        font-weight: bold;
        font-family: 'Onest', sans-serif;
    }

    &__rates {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__container-rate {
        border-radius: 16px;
        border: 1px solid #e0e0e0;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__rating-btn {
        width: 130px;
    }

    &__feedback-btn {
        width: 160px;
    }
    
    &__rating {
        display: flex;
        gap: 40px;
        flex-wrap: nowrap;
    }

    &__progress-bar-container {
        display: flex;
        gap: 20px;
    }

    &__average-rating {
        display: flex;
        flex-direction: column;
    }

    &__rating-level {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
      
    &__progress-bar {
        width: 200px;
        height: 8px;
        border-radius: 500px;
        background-color: #e0e0e0;
        position: relative;
    }
      
    &__progress {
        height: 100%;
        border-radius: 500px;
        background-color: #FBBC04;
    }

    &__count {
        width: 10px;
        display: flex;
        justify-content: center;
    }

    &__average {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__stars mat-icon {
        color: #ffc72c;
    }

    &__number-stars {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    &__avarage-score {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    &__rating-count {
        color: #2B5293;
    }

    &__see-more-comments-btn button {
        width: 392px;
        min-width: 250px;
        border: 2px solid #2B5293;
        color: #2B5293;
    }

    &__btn-content {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    }
}

.review {
    display: flex;
    flex-direction: column;
    gap: 40px;
}