<div class="dashboard__container">
    <div class="dashboard__main-titile">
        <h1>My Dashboard</h1>
    </div>
    
    <div class="dashboard__rating-section">
        <div class="dashboard__rating-left">
            <div class="dashboard__title">
                <h1>Rating & Review</h1>
            </div>
            <div class="dashboard__options">
                <button 
                    routerLink="/rating"
                    class="dashboard__rating-btn"
                    mat-flat-button
                    >
                    My rating
                </button>
                <button 
                    routerLink="/rating/feedback"
                    class="dashboard__feedback-btn"
                    mat-flat-button
                    >
                    My feedback
                </button>
            </div>
            <div class="dashboard__rates">
                <div class="dashboard__container-rate">
                    <div class="dashboard__container-title">
                        <h2>Average rating</h2>
                    </div>
                    <div class="dashboard__rating">
                        <div class="dashboard__progress-bar-container">
                            <div class="dashboard__average-rating">
                                <div *ngFor="let rating of userProfileData?.starCounts| keyvalue" class="dashboard__rating-level">
                                    <span class="dashboard__review-number">{{rating.key}}</span>
                                    <div class="dashboard__progress-bar">
                                        <div class="dashboard__progress" [style.width]="getPercentage(rating.value)"></div>
                                    </div>
                                    <span class="dashboard__count">{{ rating.value }}</span>
                                </div>
                            </div>
                        </div>
            
                        <div class="dashboard__average">
                            <div class="dashboard__number-stars">
                                <h1 class="dashboard__avarage-score">
                                    {{userProfileData?.averageRate?.toFixed(1)}}
                                </h1>
                                <div class="dashboard__stars">
                                    <mat-icon *ngFor="let star of getAverageStars(userProfileData?.ratesCount!)">{{ star }}</mat-icon>
                                </div>
                            </div>
                            <div class="dashboard__rating-count">
                                <p>Comments: {{userProfileData?.ratesCount}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard__see-more-comments-btn">
                        <button
                        routerLink="/rating"
                        class="main__rating-btn"
                        mat-flat-button
                        >
                        <div class="dashboard__btn-content">
                            <p>Show all comments</p>
                            <mat-icon>arrow_forward</mat-icon>
                        </div>
                        </button>
                    </div>
                </div>
                <div class="review">
                    <div class="single-review" *ngFor="let rate of senderRates">
                        <app-rate-item [rate]="rate"></app-rate-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
