<div class="main__container-rate">
    <div class="main__container-title">
        <h2>Average rating</h2>
    </div>
    <div class="main__rating">
        <div class="main__progress-bar-container">
            <div class="main__average-rating">
                <div
                    *ngIf="isUserHaveRates(); then noRates; else ratingLevels"
                ></div>
                <ng-template #ratingLevels>
                    <div
                        *ngFor="
                            let rating of userProfileData?.starCounts | keyvalue
                        "
                        class="main__rating-level"
                    >
                        <span class="main__review-number">{{
                            rating.key
                        }}</span>
                        <div class="main__progress-bar">
                            <div
                                class="main__progress"
                                [style.width]="getPercentage(rating.value)"
                            ></div>
                        </div>
                        <span class="main__count">{{ rating.value }}</span>
                    </div>
                </ng-template>
                <ng-template #noRates>
                    <div
                        *ngFor="let rating of ratesEmpty | keyvalue"
                        class="main__rating-level"
                    >
                        <span class="main__review-number">{{
                            rating.key
                        }}</span>
                        <div class="main__progress-bar"></div>
                        <span class="main__count">0</span>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="main__average">
            <div class="main__number-stars">
                <h1 class="main__avarage-score">
                    {{ userProfileData?.averageRate?.toFixed(1) }}
                </h1>
                <div class="main__stars">
                    <mat-icon
                        *ngFor="
                            let star of this.ratesCalculator.getAverageStars(
                                userProfileData?.ratesCount!
                            )
                        "
                        >{{ star }}</mat-icon
                    >
                </div>
            </div>
            <div class="main__rating-count">
                <p>Comments: {{ userProfileData?.ratesCount }}</p>
            </div>
        </div>
    </div>
    <div class="main__see-more-comments-btn" *ngIf="IsBtnVisible">
        <button routerLink="/rating" class="main__rating-btn" mat-flat-button>
            <div class="main__btn-content">
                <p>Show all comments</p>
                <mat-icon>arrow_forward</mat-icon>
            </div>
        </button>
    </div>
</div>
