.main {
    &__container-rate {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__rating-btn {
        width: 130px;
    }

    &__feedback-btn {
        width: 160px;
    }

    &__rating {
        display: flex;
        gap: 40px;
        flex-wrap: nowrap;
    }

    &__progress-bar-container {
        display: flex;
        gap: 20px;
    }

    &__average-rating {
        display: flex;
        flex-direction: column;
    }

    &__rating-level {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    &__progress-bar {
        width: 200px;
        height: 8px;
        border-radius: 500px;
        background-color: #e0e0e0;
        position: relative;
    }

    &__progress {
        height: 100%;
        border-radius: 500px;
        background-color: #fbbc04;
    }

    &__count {
        width: 10px;
        display: flex;
        justify-content: center;
    }

    &__average {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__stars mat-icon {
        color: #ffc72c;
    }

    &__number-stars {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    &__avarage-score {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    &__rating-count {
        color: #2b5293;
    }
}
