<div class="menu">
    <img src="assets/icons/Logo.svg" routerLink="/home" title="Logo">
    <app-search></app-search>
    <ul class="navigation">
        <li>
            <img src="assets/icons/DashboardIcon.svg" alt="">
            <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
            <img src="assets/icons/NotificationIcon.svg" alt="">
            <a routerLink="/notification">Notification</a>
        </li>
        <li>
            <img src="assets/icons/WishlistIcon.svg" alt="">
            <a routerLink="/wishlist">Wishlist</a>
        </li>
        <li>
            <img src="assets/icons/MessagesIcon.svg" alt="">
            <a routerLink="/messages">Messages</a>
        </li>
        <li>
            <img src="assets/icons/ProfileIcon.svg" alt="">
            <a routerLink="/proflie">My Profile</a>
        </li>
    </ul>
</div>