<div class="menu">
    <a [routerLink]="['/home']">
        <img src="assets/icons/AuctionifyLogo.svg" title="AuctionifyLogo">
    </a>

    <div class="menu__search">
        <app-search></app-search>
    </div>

    <ul class="navigation">
        <li>
            <img src="assets/icons/DashboardIcon.svg" alt="DashboardIcon">
            <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
            <img src="assets/icons/NotificationIcon.svg" alt="NotificationIcon">
            <a routerLink="/notification">Notification</a>
        </li>
        <li>
            <img src="assets/icons/WishlistIcon.svg" alt="WishlistIcon">
            <a routerLink="/wishlist">Wishlist</a>
        </li>
        <li>
            <img src="assets/icons/MessagesIcon.svg" alt="MessageIcon">
            <a routerLink="/messages">Messages</a>
        </li>
        <li>
            <img src="assets/icons/ProfileIcon.svg" alt="ProfileIcon">
            <a routerLink="/proflie">My Profile</a>
        </li>
    </ul>

</div>