.profile {
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 32px;

    &__top-container {
        height: 148px;
        border-radius: 16px;
        border: 1px solid #e0e0e0;
        display: flex;
        gap: 40px;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__top-container img {
        border-radius: 50%;
        object-fit: cover;
    }

    &__container-left-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__rate {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__rate-stars {
        display: flex;
        align-items: center;
    }

    &__rate-stars mat-icon {
        color: #ffc72c;
    }

    &__rate-lots {
        display: flex;
        gap: 16px;
    }
}

.main-container {
    display: flex;
    gap: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid #e0e0e0;
    padding: 40px;
    min-width: 700px;

    &__options {
        display: flex;
        gap: 16px;
    }

    &__options button {
        height: 48px;
        border-radius: 32px;
        border: none;
        background-color: #F2F5F7;
        font-weight: bold;
        font-family: 'Onest', sans-serif;
    }

    &__rating-btn {
        width: 130px;
    }

    &__feedback-btn {
        width: 160px;
    }
}