<div class="search">
    <form>
        <div class="search__container">
            <input (input)="textChange()" #searchInputTrigger="matAutocompleteTrigger" [matAutocomplete]="auto"
                [formControl]="searchInput" class="search-input" type="text" placeholder="Search..." />
            <button class="search-button" type="submit" (click)="search($event, searchInputTrigger, auto)">
                <img class="search-icon" src="assets/icons/SearchIcon.svg" alt="Search Icon">
            </button>
            <mat-autocomplete (optionSelected)="elementSelect($event)" [panelWidth]="420" class="search-autocomplete"
                #auto="matAutocomplete">
                <mat-option *ngIf="isSearching" [disabled]="true">
                    <div class="body-spinner">
                        <mat-spinner diameter="45"></mat-spinner>
                    </div>
                </mat-option>
                <mat-option *ngIf="!isResult" [disabled]="true">
                    <h3>No results!</h3>
                </mat-option>
                <mat-option [value]="lot.id" *ngFor="let lot of searchNameResult">
                    <div class="option-body">
                        <div class="body-image">
                            <img width="80px" height="80px"
                                [src]="lot.mainPhotoUrl || 'https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png'"
                                alt="lot-main-image">
                        </div>
                        <div class="body-title">
                            <div>{{lot.title}}</div>
                        </div>
                        <div class="body-button">
                            <button mat-icon-button color="primary">
                                <mat-icon>
                                    arrow_right_alt
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-option>
                <hr class="color-grey-5 hr-element" *ngIf="isResult && !isSearching">
                <mat-option [value]="lot.id" *ngFor="let lot of searchLocationResult">
                    <div class="option-body">
                        <div class="body-image">
                            <img width="80px" height="80px"
                                [src]="lot.mainPhotoUrl || 'https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png'"
                                alt="lot-main-image">
                        </div>
                        <div class="body-title">
                            <div>{{lot.title}}</div>
                        </div>
                        <div class="body-button">
                            <button mat-icon-button color="primary">
                                <mat-icon>
                                    arrow_right_alt
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </div>
    </form>
</div>