.search {
    width: 100%;
    max-width: 400px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        border: 2px solid #e0e0e0;
        padding: 12px;
        padding-left: 24px;
        padding-right: 12px;
    }
}

.search {
    &-button {
        background-color: transparent;
        outline: none;
        border: none;
    }
}

::ng-deep
    .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above)
    div.mat-mdc-autocomplete-panel.search-autocomplete.mat-mdc-autocomplete-panel {
    margin-top: 24px;
    border-radius: 12px;
}

::ng-deep .mdc-list-item__primary-text {
    width: 100%;
}

.search-icon {
    width: 18px;
}

input {
    width: 100%;
    outline-style: none;
    border: none;
    background-color: transparent;
    font-family: Onest;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

input::placeholder {
    font-size: 16px;
    color: #e0e0e0;
}

input::content {
    color: #3a2c2c;
}

.option-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.body {
    &-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-image {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 8px;

        & img {
            object-fit: cover;
        }
    }

    &-title {
        width: 180px;

        & p {
            overflow: hidden;
            width: 180px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-family: Onest;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
        }

        & i {
            font-size: 12px;
        }
    }
}

.mat-mdc-option.mdc-list-item {
    margin-bottom: 8px;
}

.hr-element {
    margin-top: 8px;
    margin-bottom: 16px;
}

.result-header-text {
    margin-bottom: 4px;

    & h4 {
        margin-left: 16px;
        color: var(--color-main);
    }
}
