<div class="search">
    <form>
        <div class="search__container">
            <input #searchInputTrigger="matAutocompleteTrigger" [matAutocomplete]="auto" [formControl]="searchInput"
                class="search-input" type="text" placeholder="Search..." />
            <button class="search-button" type="button" (click)="search($event, searchInputTrigger)">
                <img class="search-icon" src="assets/icons/SearchIcon.svg" alt="Search Icon">
            </button>
            <mat-autocomplete class="search-autocomplete" #auto="matAutocomplete">
                <mat-option *ngFor="let lot of searchNameResult">
                    <div class="option-body">
                        <div class="body-image">
                            <img width="80px" height="80px"
                                [src]="lot.mainPhotoUrl ?? 'https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png'"
                                alt="lot-main-image">
                        </div>
                        <div class="body-title">
                            <div>{{lot.title}}</div>
                        </div>
                        <div class="body-button">
                            <button mat-icon-button color="primary">
                                <mat-icon>
                                    arrow_right_alt
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-option>
                <hr>
                <mat-option *ngFor="let lot of searchLocationResult">
                    street
                </mat-option>
            </mat-autocomplete>
        </div>
    </form>
</div>