<div class="after-deletion">
    <div class="general-auth-background"></div>
    <div class="after-deletion__container">
        <div class="after-deletion__container-inner">
            <div class="after-deletion__header">
                <img
                    src="assets/icons/AuctionifyLogo.svg"
                    title="AuctionifyLogo"
                />
            </div>
            <h2>We're sorry to see you go : &#40;</h2>
            <div class="after-deletion__main-info">
                <p>Your account has been deleted</p>
            </div>
            <div class="after-deletion__redirect">
                <a [routerLink]="['/auth/login']">Go to login page</a>
            </div>
        </div>
    </div>
</div>
