<div class="review">
    <div class="review__profile-img">
        <img [src]="
            rate.sender && rate.sender.profilePicture
            ? rate.sender.profilePicture
            : '../../../../../assets/images/User.png'
            "
            alt="rate-user-profile-pic"
            width="48"
            height="48">
    </div>
    <div class="review__data">
        <div class="review__name-date-value">
            <div class="review__name-date">
                <div class="review__name">
                    <p>{{rate.sender?.firstName}} {{rate.sender?.lastName}}</p>
                </div>
                <div class="review__date">
                    <p>{{formatDate(rate.creationDate)}}</p>
                </div>
            </div>
            <div class="review__stars">
                <mat-icon *ngFor="let star of getStars(rate.ratingValue!)">{{ star }}</mat-icon>
            </div>
        </div>
        <div class="review__comment">
            <p>{{rate.comment}}</p>
        </div>
    </div>
</div>