<div class="forget-password">
    <div class="general-auth-background"></div>
    <div class="forget-password__container">
        <div class="forget-password__container-inner">
            <div class="forget-password__header">
                <h1>Reset password</h1>
                <p>
                    Enter your email and we'll send instructions to<br />
                    reset your password
                </p>
            </div>

            <form
                [formGroup]="forgetPasswordForm"
                (ngSubmit)="onSubmit()"
                class="forget-password__form form"
                action="submit"
            >
                <mat-form-field color="primary" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput />
                    <mat-error>Email required</mat-error>
                </mat-form-field>

                <button
                    type="submit"
                    [disabled]="isLoading"
                    mat-raised-button
                    color="primary"
                >
                    <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                    <div *ngIf="!isLoading">Reset</div>
                </button>
            </form>

            <button mat-raised-button color="white" (click)="goToLoginPage()">
                <div>Back to Login Page</div>
            </button>
        </div>
    </div>
</div>
