<!-- get-lot.component.html -->

<div *ngIf="lot$ | async as lot" class="lot-details">
    <button (click)="openBidModal()">Place Bid</button>
    <h2>{{ lot.title }}</h2>
    <p><strong>Description:</strong> {{ lot.description }}</p>

    <div *ngIf="lot.photosUrl && lot.photosUrl.length > 0" class="photos">
        <h3>Photos:</h3>
        <div class="photo" *ngFor="let photo of lot.photosUrl">
            <img [src]="photo" alt="Lot Photo" />
        </div>
    </div>

    <p><strong>Starting Price:</strong> {{ lot.startingPrice | currency }}</p>
    <p><strong>Start Date:</strong> {{ lot.startDate | date }}</p>
    <p><strong>End Date:</strong> {{ lot.endDate | date }}</p>

    <div
        *ngIf="
            lot.additionalDocumentsUrl && lot.additionalDocumentsUrl.length > 0
        "
        class="additional-docs"
    >
        <h3>Additional Documents:</h3>
        <ul>
            <li *ngFor="let doc of lot.additionalDocumentsUrl">
                <a [href]="doc" target="_blank" rel="noopener noreferrer">{{
                    doc
                }}</a>
            </li>
        </ul>
    </div>

    <p><strong>Category:</strong> {{ lot.category.name }}</p>
    <p>
        <strong>Location:</strong> {{ lot.location.city }},
        {{ lot.location.country }}
    </p>

    <h3>Bids Count:</h3>
    <p>{{ lot.bidCount }}</p>

    <h3>Is in watchlist:</h3>
    <p>{{ lot.isInWatchlist }}</p>

    <h3>Bids:</h3>
    <ul *ngIf="lot.bids && lot.bids.length > 0">
        <li *ngFor="let bid of lot.bids">
            <p><strong>Amount:</strong> {{ bid.newPrice | currency }}</p>
            <p><strong>Date:</strong> {{ bid.timeStamp | date }}</p>
        </li>
    </ul>
    <p *ngIf="!(lot.bids && lot.bids.length > 0)">No bids yet.</p>
</div>
