.profile {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-container {
    display: flex;
    gap: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid #e0e0e0;
    padding: 40px;
    min-width: 700px;
}

.main__profile {
    display: flex;
    flex-direction: column;
    gap: 45px;
    min-width: 480px;
}

.main-btns {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.main-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}