<div class="profile">
    <div class="profile__title">
        <h1>My profile</h1>
    </div>
    <div class="profile__top-container">
        <img
            [src]="
                userProfileData && userProfileData.profilePictureUrl
                    ? userProfileData.profilePictureUrl
                    : '../../../../../assets/images/User.png'
            "
            alt="User-profile-image"
            width="100"
            height="100"
        />
        <div class="profile__container-left-info">
            <p>Welcome Back, {{ userProfileData?.firstName }}!</p>
            <div class="profile__rate-lots">
                <div class="profile__rate">
                    <div class="profile__rate-stars">
                        <mat-icon *ngFor="let star of getAverageStars(userProfileData?.ratesCount!)">{{ star }}</mat-icon>
                    </div>
                    <p>({{userProfileData?.ratesCount}})</p>
                </div>
                <div class="profile__lots-count" *ngIf="isUserSeller()">
                    Lots created {{ userProfileData?.createdLotsCount }} | Lots
                    finished {{ userProfileData?.finishedLotsCount }}
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main">
            <div class="title">
                <h1>Change password</h1>
            </div>
            <form
                [formGroup]="changePasswordForm"
                class="change-password-form"
                action=""
            >
                <div class="main__profile">
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>Old Password</mat-label>
                        <input
                            formControlName="oldPassword"
                            matInput
                            [type]="passwordHidden ? 'password' : 'text'"
                        />
                        <button
                            type="button"
                            mat-icon-button
                            matSuffix
                            (click)="togglePasswordVisibility()"
                            aria-label="Toggle password visibility"
                        >
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="
                                changePasswordForm.controls.oldPassword.hasError(
                                    'required'
                                )
                            "
                        >
                            Old password is
                            <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="
                                changePasswordForm.controls.oldPassword.hasError(
                                    'minlength'
                                )
                            "
                        >
                            At least 8 characters
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input
                            formControlName="newPassword"
                            matInput
                            [type]="passwordHidden ? 'password' : 'text'"
                        />
                        <button
                            type="button"
                            mat-icon-button
                            matSuffix
                            (click)="togglePasswordVisibility()"
                            aria-label="Toggle password visibility"
                        >
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="
                                changePasswordForm.controls.newPassword.hasError(
                                    'required'
                                )
                            "
                        >
                            New password is
                            <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="
                                changePasswordForm.controls.newPassword.hasError(
                                    'minlength'
                                )
                            "
                        >
                            At least 8 characters
                        </mat-error>
                        <mat-error
                            *ngIf="
                                changePasswordForm
                                    .get('newPassword')
                                    ?.hasError('invalidPassword')
                            "
                        >
                            At least by one number, uppercase and lowercase
                            letter and special character
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field color="primary" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input
                            formControlName="confirmNewPassword"
                            matInput
                            [type]="passwordHidden ? 'password' : 'text'"
                        />
                        <button
                            type="button"
                            mat-icon-button
                            matSuffix
                            (click)="togglePasswordVisibility()"
                            aria-label="Toggle password visibility"
                        >
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="
                                changePasswordForm.controls.confirmNewPassword.hasError(
                                    'required'
                                )
                            "
                        >
                            Confirmation of new password is
                            <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="
                                changePasswordForm.controls.confirmNewPassword.hasError(
                                    'minlength'
                                )
                            "
                        >
                            At least 8 characters
                        </mat-error>
                        <mat-error
                            *ngIf="
                                changePasswordForm.hasError('passwordMismatch')
                            "
                        >
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
            <div class="main-btns">
                <button
                    mat-flat-button
                    disabled="{{ isLoading }}"
                    color="primary"
                    (click)="OnSubmit()"
                    type="submit"
                >
                    <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                    <div class="main-btn" *ngIf="!isLoading">
                        <mat-icon>save</mat-icon> Save changes
                    </div>
                </button>
            </div>
        </div>
        <div class="nav">
            <app-profile-navbar></app-profile-navbar>
        </div>
    </div>
</div>
