<div class="analytics">
    <h1>Analytics</h1>
    <section class="analytics__main">
        <div class="analytics__left">
            <div class="analytics__right-middle">
                <div class="analytics__element">
                    <div class="analytics__element-inner">
                        <div class="analytics__element-head">
                            <mat-icon>receipt_long</mat-icon>
                            <h2 class="analytics__chart-title">Net income</h2>
                        </div>
                        <section class="analytics__element-main">
                            <ng-container
                                *ngIf="
                                    chartOptions != null ||
                                    chartOptions != undefined
                                "
                            >
                                <apx-chart
                                    [series]="chartOptions.series!"
                                    [chart]="chartOptions.chart!"
                                    [xaxis]="chartOptions.xaxis!"
                                    [stroke]="chartOptions.stroke!"
                                    [tooltip]="chartOptions.tooltip!"
                                    [dataLabels]="chartOptions.dataLabels!"
                                    [plotOptions]="chartOptions.plotOptions!"
                                    [annotations]="chartOptions.annotations!"
                                    [grid]="chartOptions.grid!"
                                    [fill]="chartOptions.fill!"
                                ></apx-chart>
                            </ng-container>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="analytics__right">
            <div class="analytics__element">
                <div class="analytics__element-inner">
                    <div class="analytics__element-head">
                        <mat-icon>pie_chart</mat-icon>
                        <h2 class="analytics__chart-title">Status of lots</h2>
                    </div>
                    <ng-container
                        *ngIf="
                            polarChartOptions != null ||
                            polarChartOptions != undefined
                        "
                    >
                        <apx-chart
                            [series]="polarChartOptions.series!"
                            [chart]="polarChartOptions.chart!"
                            [labels]="polarChartOptions.labels!"
                            [title]="polarChartOptions.title!"
                            [theme]="polarChartOptions.theme!"
                            [fill]="polarChartOptions.fill!"
                            [yaxis]="polarChartOptions.yaxis!"
                            [stroke]="polarChartOptions.stroke!"
                            [legend]="polarChartOptions.legend!"
                            [plotOptions]="polarChartOptions.plotOptions!"
                            [tooltip]="polarChartOptions.tooltip!"
                        ></apx-chart>
                    </ng-container>
                </div>
            </div>
            <div class="analytics__element">
                <div class="analytics__element-inner">
                    <div class="analytics__element-head">
                        <mat-icon>bar_chart</mat-icon>
                        <h2 class="analytics__chart-title">Created lots</h2>
                    </div>
                    <ng-container
                        *ngIf="
                            barChartOptions != null ||
                            barChartOptions != undefined
                        "
                    >
                        <apx-chart
                            [series]="barChartOptions.series!"
                            [chart]="barChartOptions.chart!"
                            [dataLabels]="barChartOptions.dataLabels!"
                            [plotOptions]="barChartOptions.plotOptions!"
                            [yaxis]="barChartOptions.yaxis!"
                            [xaxis]="barChartOptions.xaxis!"
                            [fill]="barChartOptions.fill!"
                            [title]="barChartOptions.title!"
                            [grid]="barChartOptions.grid!"
                            [states]="barChartOptions.states!"
                        ></apx-chart>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</div>
