<div class="analytics">
    <h1>Analytics</h1>
    <section class="analytics__main">
        <div class="analytics__left">
            <div class="analytics__right-middle">
                <div class="analytics__element">
                    <div class="analytics__element-inner">
                        <div class="analytics__top">
                            <div class="analytics__element-head">
                                <div class="analytics__title">
                                    <mat-icon>receipt_long</mat-icon>
                                    <h2 class="analytics__chart-title">
                                        Net income
                                    </h2>
                                </div>
                                <div
                                    class="analytics__total-stats"
                                    *ngIf="totalIncome.length > 0"
                                >
                                    <p
                                        class="analytics__total-income"
                                        *ngFor="let income of totalIncome"
                                    >
                                        +{{ income.totalIncome.toFixed(2) }}
                                        {{ income.currency }}
                                    </p>
                                </div>
                            </div>
                            <div class="analytics__filter-components">
                                <div
                                    class="analytics__line-chart-element-filter"
                                >
                                    <mat-form-field appearance="outline">
                                        <mat-label>Period</mat-label>
                                        <mat-select
                                            [(ngModel)]="selectedLinePeriod"
                                            (ngModelChange)="
                                                onLineChartPeriodChange($event)
                                            "
                                            panelClass="filter-select"
                                        >
                                            <mat-option value="Day|7"
                                                >1 week</mat-option
                                            >
                                            <mat-option value="Month|1"
                                                >1 month</mat-option
                                            >
                                            <mat-option value="Month|6"
                                                >6 months</mat-option
                                            >
                                            <mat-option value="Year|1"
                                                >1 year</mat-option
                                            >
                                            <mat-option value="Total|1"
                                                >Total</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="analytics__export">
                                    <button
                                        class="analytics__export-button"
                                        mat-stroked-button
                                        color="primary"
                                        (click)="exportToFile()"
                                    >
                                        <p class="analytics__export-text">
                                            Export
                                        </p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <section class="analytics__element-main">
                            <ng-container *ngIf="chartOptions">
                                <apx-chart
                                    [series]="chartOptions.series!"
                                    [chart]="chartOptions.chart!"
                                    [xaxis]="chartOptions.xaxis!"
                                    [stroke]="chartOptions.stroke!"
                                    [tooltip]="chartOptions.tooltip!"
                                    [dataLabels]="chartOptions.dataLabels!"
                                    [plotOptions]="chartOptions.plotOptions!"
                                    [annotations]="chartOptions.annotations!"
                                    [grid]="chartOptions.grid!"
                                    [fill]="chartOptions.fill!"
                                ></apx-chart>
                            </ng-container>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="analytics__right">
            <div class="analytics__element">
                <div class="analytics__element-inner">
                    <div class="analytics__element-head">
                        <div class="analytics__title">
                            <mat-icon>pie_chart</mat-icon>
                            <h2 class="analytics__chart-title">
                                Status of lots
                            </h2>
                        </div>
                    </div>
                    <ng-container
                        *ngIf="
                            polarChartOptions != null ||
                            polarChartOptions != undefined
                        "
                    >
                        <apx-chart
                            [series]="polarChartOptions.series!"
                            [chart]="polarChartOptions.chart!"
                            [labels]="polarChartOptions.labels!"
                            [title]="polarChartOptions.title!"
                            [theme]="polarChartOptions.theme!"
                            [fill]="polarChartOptions.fill!"
                            [yaxis]="polarChartOptions.yaxis!"
                            [stroke]="polarChartOptions.stroke!"
                            [legend]="polarChartOptions.legend!"
                            [plotOptions]="polarChartOptions.plotOptions!"
                            [tooltip]="polarChartOptions.tooltip!"
                            [dataLabels]="polarChartOptions.dataLabels!"
                        ></apx-chart>
                    </ng-container>
                </div>
            </div>
            <div class="analytics__element">
                <div class="analytics__element-inner">
                    <div class="analytics__top-part">
                        <div class="analytics__element-head">
                            <div class="analytics__title">
                                <mat-icon>bar_chart</mat-icon>
                                <h2 class="analytics__chart-title">
                                    Created lots
                                </h2>
                            </div>
                        </div>
                        <div class="analytics__filter-components">
                            <div class="analytics__bar-chart-element-filter">
                                <mat-form-field appearance="outline">
                                    <mat-label>Period</mat-label>
                                    <mat-select
                                        [(ngModel)]="selectedBarPeriod"
                                        (ngModelChange)="
                                            onBarChartPeriodChange($event)
                                        "
                                        panelClass="filter-select"
                                    >
                                        <mat-option value="Day|7"
                                            >1 week</mat-option
                                        >
                                        <mat-option value="Week|7"
                                            >7 weeks</mat-option
                                        >
                                        <mat-option value="Month|7"
                                            >7 months</mat-option
                                        >
                                        <mat-option value="Year|7"
                                            >7 years</mat-option
                                        >
                                        <mat-option value="Total|1"
                                            >Total</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <ng-container
                        *ngIf="
                            barChartOptions != null ||
                            barChartOptions != undefined
                        "
                    >
                        <apx-chart
                            [series]="barChartOptions.series!"
                            [chart]="barChartOptions.chart!"
                            [dataLabels]="barChartOptions.dataLabels!"
                            [plotOptions]="barChartOptions.plotOptions!"
                            [yaxis]="barChartOptions.yaxis!"
                            [xaxis]="barChartOptions.xaxis!"
                            [fill]="barChartOptions.fill!"
                            [title]="barChartOptions.title!"
                            [grid]="barChartOptions.grid!"
                            [states]="barChartOptions.states!"
                        ></apx-chart>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</div>
