.analytics {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }

    &__main {
        display: flex;
        gap: 16px;
    }

    &__left {
        flex: 4 1 auto;
    }

    &__right {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__right-middle {
        height: 100%;
    }

    &__element {
        border-radius: 16px;
        box-shadow: 0px 2px 12px 0px #14142B14;
        height: 100%;

        &-inner {
            padding: 40px;
        }
    }

    &__element-head {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__element-main {}

}