.menu {
    display: flex;
    padding-right: 200px;
    justify-content: flex-end;
    height: 96px;
    align-items: center;

    &__btns-right {
        display: flex;
        gap: 16px;
    }

    &__sort-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13px;
        width: 248px;
        height: 48px;
        border-radius: 8px;
        border: 2px solid (gray);
        background-color: white;
    }

    &__filter-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 11px;
        width: 144px;
        height: 48px;
        border-radius: 8px;
        border: 2px solid (gray);
        background-color: white;
    }

    &__filter-btn:hover {
        border: none;
        background-color: #2B5293;
        transition: 0.5s ease;
        color: white;
    }
}

.main {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__auction-active {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 13px;
        max-width: calc(294px * 5 + 13px * 4);
        padding-bottom: 20px;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding-bottom: 20px;
    }

    &__auction-upcoming {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 13px;
        max-width: calc(294px * 5 + 13px * 4);
        padding-bottom: 20px;
    }

    &__auction-upcoming-title {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__auction-archived {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 13px;
        max-width: calc(294px * 5 + 13px * 4);
        padding-bottom: 20px;
    }

    &__auction-archived-title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__show-more-btn {
        max-width: 127px;
    }
}

.lot {
    width: 294px;
    height: 446px;

    &__image {
        position: relative;
    }

    &__image img {
        border-radius: 20px;
    }

    &__like-btn {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__like-btn {
        background-color: #F0F3FE;
        border: none;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    &__info {
        padding-left: 8px;
        padding-right: 8px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title a {
        text-decoration: none;
        color: black;
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
    }

    &__price-bid {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }

    &__bids-p {
        font-size: 16px;
        color: #e0e0e0;
    }

    &__price-p {
        font-size: 18px;
        font-weight: bold;
    }

    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        border-radius: 16px;
    }

    &__title a:hover {
        color: #2B5293;
    }
}