.menu {
    display: flex;
    justify-content: space-evenly;
    height: 96px;
    align-items: center;

    &__links-left {
        display: flex;
    }

    &__links-left ul {
        list-style: none;
        display: flex;
        gap: 32px;
    }

    &__links-left ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    &__links-left ul li a {
        pointer-events: none;
        text-decoration: none;
        color: black;
    }

    &__btns-right {
        display: flex;
        gap: 16px;
    }
    
    &__sort-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13px;
        width: 248px;
        height: 48px;
        border-radius: 8px;
        border: 2px solid (gray);
        background-color: white;
    }

    &__filter-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 11px;
        width: 144px;
        height: 48px;
        border-radius: 8px;
        border: 2px solid (gray);
        background-color: white;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;

    &__container {
        width: max-content;
        display: flex;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;
    }

    &__auction-active {
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 13px;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    &__show-more-btn {
        color: white;
        background-color: #2B5293;
        border: none;
        border-radius: 8px;
        width: 127px;
        height: 48px;
    }

    &__auction-upcoming {
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 13px;
    }

    &__auction-upcoming-title {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__auction-upcoming-title img {
        transform: rotate(90deg);
    }

    &__auction-upcoming-more {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__auction-archived {
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 13px;
    }

    &__auction-archived-title {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__auction-archived-title img {
        transform: rotate(90deg);
    }

    &__auction-archived-more {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.lot {
    width: 294px;
    height: 446px;

    &__image {
        position: relative;
    }
    
    &__image img {
        border-radius: 20px;
    }
    
    &__like-btn {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    &__like-btn {
        background-color: #F0F3FE;
        border: none;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
    
    &__info {
        padding-left: 8px;
        padding-right: 8px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    &__title {
        font-size: 16px;
        font-weight: bold;
    }
    
    &__price-bid {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }
    
    &__bids-p {
        font-size: 16px;
        color: #e0e0e0;
    }
    
    &__price-p {
        font-size: 18px;
        font-weight: bold;
    }
}
