<div class="menu">
  <div class="menu__btns-right">
    <button class="menu__sort-btn">
      <p>Sort by: Popularity</p>
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button type="button" (click)="callFilter()" class="menu__filter-btn">
      <mat-icon>tune</mat-icon>
      <p>Filter</p>
    </button>
  </div>
</div>

<div class="main">
  <div class="main__container">
    <div class="main__auction-active">
      <div class="lot" *ngFor="let lot of activeLots$ | async">
        <div class="lot__image">
          <img [src]="lot.mainPhotoUrl ? lot.mainPhotoUrl : '../../../../assets/icons/NoImage.svg'" height="294px"
            width="294px" alt="Main Photo">
          <button class="lot__like-btn">
            <mat-icon class="primary">favorite_border</mat-icon>
          </button>
        </div>
        <div class="lot__info">
          <div class="lot__title">
            <p>{{ lot.title }}</p>
            <br>
            <p>{{ calculateDaysLeft(lot.startDate, lot.endDate) }} Days</p>
          </div>
          <div class="lot__price-bid">
            <div class="lot_price">
              <p class="lot__price-p">{{ lot.startingPrice }} $</p>
            </div>
            <div class="lot__bid">
              <p class="lot__bids-p">{{ lot.bids.length }} bids</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main__btn">
    <p>What to see more items?</p>
    <button 
    class="main__show-more-btn" 
    color="primary" 
    (click)="loadMoreActiveLots()"
    >
      <p>Show more</p>
    </button>
  </div>

  <div class="main__container-upcoming" *ngIf="upcomingLots$ | async as upcomingLots">
    <div class="main__auction-upcoming-title" *ngIf="upcomingLots && upcomingLots.length > 0">
      <h2>Future auctions</h2>
    </div>
  
    <div class="main__auction-upcoming">
      <div class="lot" *ngFor="let lot of upcomingLots$ | async">
        <div class="lot__image">
          <img [src]="lot.mainPhotoUrl ? lot.mainPhotoUrl : '../../../../assets/icons/NoImage.svg'" height="294px"
            width="294px" alt="Main Photo">
          <button class="lot__like-btn">
            <mat-icon class="primary">favorite_border</mat-icon>
          </button>
        </div>
        <div class="lot__info">
          <div class="lot__title">
            <p>{{ lot.title }}</p>
            <br>
            <p>{{ calculateDaysLeftUpcomming(lot.startDate) }} Days</p>
          </div>
          <div class="lot__price-bid">
            <div class="lot_price">
              <p class="lot__price-p">{{ lot.startingPrice }} $</p>
            </div>
            <div class="lot__bid">
              <p class="lot__bids-p">{{ lot.bids.length }} bids</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="main__btn" *ngIf="upcomingLots && upcomingLots.length > 0">
      <p>What to see more items?</p>
      <button 
      class="main__show-more-btn" 
      color="primary" 
      (click)="loadMoreUpcomingLots()"
      >
        <p>Show more</p>
      </button>
    </div>
  </div>

  <div class="main__container-archived" *ngIf="archivedLots$ | async as archivedLots">
    <div class="main__auction-archived-title" *ngIf="archivedLots && archivedLots.length > 0">
      <h2>Archived auctions</h2>
    </div>
  
    <div class="main__auction-archived">
      <div class="lot" *ngFor="let lot of archivedLots$ | async">
        <div class="lot__image">
          <img [src]="lot.mainPhotoUrl ? lot.mainPhotoUrl : '../../../../assets/icons/NoImage.svg'" height="294px"
            width="294px" alt="Main Photo">
          <button class="lot__like-btn">
            <mat-icon class="primary">favorite_border</mat-icon>
          </button>
        </div>
        <div class="lot__info">
          <div class="lot__title">
            <p>{{ lot.title }}</p>
          </div>
          <div class="lot__price-bid">
            <div class="lot_price">
              <p class="lot__price-p">{{ lot.startingPrice }} $</p>
            </div>
            <div class="lot__bid">
              <p class="lot__bids-p">{{ lot.bids.length }} bids</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="main__btn" *ngIf="archivedLots && archivedLots.length > 0">
      <p>What to see more items?</p>
      <button 
      class="main__show-more-btn" 
      color="primary" 
      (click)="loadMoreArchivedLots()"
      >
        <p>Show more</p>
      </button>
    </div>
  </div>
</div>