@import "../styles/lot-shared-styles.scss";


.form {
    &__lot-buttons {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;

        & .delete-button {
            max-width: 160px;
        }
    }
}

.submit-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}