.bid {
    &-operation {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 500px;
        height: fit-content;
        max-height: 360px;
        min-height: 216px;
        transform: translate(-50%, -50%);
        padding: 40px 48px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-radius: 24px;
        background-color: #f8f8f8; /* Light gray background */
    }

    &-operation__title {
        color: var(--color-text-primary);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
    }

    &-operation__description {
        color: var(--color-grey-3);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 133.333% */
    }

    &-button {
        margin-top: 24px;
        color: var(--color-grey-4);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }
}

mat-form-field {
    width: 100%;
    position: relative;
}

.currency-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: var(--color-grey-3);
    font-weight: bold;
    pointer-events: none;
}

.bids {
    &-section {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-text {
        color: var(--color-grey-4);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 133.333% */
    }

    &-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__item {
            display: flex;
            justify-content: space-between;
            gap: 5px;

            &-date {
                color: var(--color-grey-3);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 150% */
            }

            &-amount {
                color: var(--color-main);
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; /* 150% */
            }
        }
    }
}
