<div class="profile">
    <div class="profile__top-container">
        <img
            [src]="getUserProfileImg()"
            alt="Seller-profile-image"
            width="100"
            height="100"
        />
        <img
            class="profile__lot-main-photo"
            [src]="getLotPicture()"
            alt="User-profile-image"
            width="100"
            height="100"
        />
        <div class="profile__container-info">
            <p>{{ lotData?.title }}</p>
        </div>
    </div>
</div>

<div class="main">
    <div class="main__left">
        <div class="main__container">
            <div class="main__title">
                <h1>Describe your feelings</h1>
            </div>
            <div class="main__rate-stars">
                <p>How would you rate the seller?</p>
                <div class="main__stars">
                    <mat-icon
                        *ngFor="let star of [1, 2, 3, 4, 5]"
                        (click)="onStarClick(star)"
                        [style.color]="'gold'"
                        >{{
                            star <= selectedRating ? 'star' : 'star_border'
                        }}</mat-icon
                    >
                </div>
            </div>
            <mat-form-field color="primary" appearance="outline">
                <mat-label>Add comment</mat-label>
                <textarea [(ngModel)]="comment" matInput></textarea>
            </mat-form-field>
            <div class="main__btn">
                <button
                    mat-flat-button
                    disabled="{{ isLoading }}"
                    color="primary"
                    type="submit"
                    (click)="OnSubmit()"
                >
                    <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                    <div class="main__btn" *ngIf="!isLoading">Submit</div>
                </button>
            </div>
        </div>
    </div>

    <div class="main__right">
        <div class="main__rate-info">
            <p>
                Leaving comments on websites is most effective when done with a
                respectful and constructive tone. It fosters positive
                discussions and contributes to a more welcoming online
                community.
            </p>
        </div>
        <div class="main__question">
            <h2>Have question?</h2>
            <button mat-flat-button>Contact us</button>
        </div>
    </div>
</div>
