.main-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-profile-div {
    display: flex;
    gap: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid #e0e0e0;
    padding: 40px;
    min-width: 610px;

    &__profile {
        display: flex;
        align-items: center;
        gap: 80px;
    }

    &__photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }

    &__photo img {
        border-radius: 50%;
    }

    &__name-date {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__about-me {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__personal-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__number-email {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__container-rate {
        border-radius: 16px;
        border: 1px solid #e0e0e0;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        height: 280px;
    }

    &__see-more-comments-btn button {
        width: 392px;
        min-width: 250px;
        border: 2px solid #2b5293;
        color: #2b5293;
    }

    &__btn-content {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    }
}
