<div class="chat">
    <div class="chat-inner">
        <div class="chat__avatar">

        </div>
        <div class="chat__main">
            <div class="chat__top">
                <h4 class="chat__top-nickname">
                    Anastasia M
                </h4>
                <p class="chat__top-time">09:26 PM</p>
            </div>
            <div class="chat__bottom">
                <p class="chat__bottom-message-text">
                    Hi there! I'm interested in the a...
                </p>
                <span class="chat__bottom-unread">
                    42
                </span>
            </div>
        </div>
    </div>
</div>