<div class="bid-operation">
    <h1 class="bid-operation__title">Place a bid</h1>
    <button mat-icon-button (click)="closeDialog()" class="close-button">
        <mat-icon>close</mat-icon>
    </button>
    <p class="bid-operation__description">We will notify you in case you win</p>
    <form [formGroup]="bidForm" (ngSubmit)="onSubmit()" class="bid-form">
        <div class="main__form">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>Bid price</mat-label>
                <input
                    class="currency-input"
                    type="number"
                    formControlName="bid"
                    matInput
                    [errorStateMatcher]="matcher"
                    [placeholder]="
                        bidCount > 0
                            ? 'Current highest bid is ' + currentHighestBid
                            : 'Starts from ' + startingPrice
                    "
                />
                <span matTextSuffix class="currency-label">
                    {{ currency }}</span
                >
                <mat-error *ngIf="bidForm.controls['bid'].hasError('required')">
                    Bid is required!
                </mat-error>
                <mat-error
                    *ngIf="bidForm.controls['bid'].hasError('minStartingBid')"
                >
                    Your bid must be greater than the starting price!
                </mat-error>
                <mat-error
                    *ngIf="
                        bidForm.controls['bid'].hasError('minCurrentHighestBid')
                    "
                >
                    Your bid must be higher than the current highest bid!
                </mat-error>
                <mat-error
                    *ngIf="bidForm.controls['bid'].hasError('maxBidExceeded')"
                >
                    Your bid must be less than 500000!
                </mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="bids.length > 0" class="bids-section">
            <h3 class="bids-text">You already bid</h3>
            <ul class="bids-list">
                <li *ngFor="let bid of bids" class="bids-list__item">
                    <p class="bids-list__item-date">
                        {{ bid.timeStamp | date : 'dd LLLL, HH:mm' }}
                    </p>
                    <p class="bids-list__item-amount">
                        {{ bid.newPrice }} {{ bid.currency }}
                    </p>
                </li>
            </ul>
        </div>
        <div class="submit-button">
            <button
                type="submit"
                mat-flat-button
                [color]="'primary'"
                class="bid-button"
                [disabled]="!bidForm.valid"
            >
                Submit
            </button>
        </div>
    </form>
</div>
