<footer class="main">
    <div class="main-container">
        <div class="container-top">
            <div class="left-side_top-footer">
                <img
                    class="logo"
                    src="assets/icons/AuctionifyLogo.svg"
                    alt="AuctionifyIcon"
                />

                <p>
                    Find anything you're looking for, <br />
                    at a price that you'll really love
                </p>

                <ul>
                    <li>
                        <img
                            src="assets/icons/TelegramIcon.svg"
                            alt="TelegramIcon"
                        />
                    </li>
                    <li>
                        <img
                            src="assets/icons/FacebookIcon.svg"
                            alt="FacebookIcon"
                        />
                    </li>
                    <li>
                        <img
                            src="assets/icons/InstagramIcon.svg"
                            alt="InstagramIcon"
                        />
                    </li>
                </ul>
            </div>
        </div>

        <div class="line"></div>

        <div class="container-bott">
            <div class="left-bott">
                <ul>
                    <li>
                        <p>Auctionify Inc.</p>
                    </li>
                    <li class="special">
                        <p>Sitemap</p>
                    </li>
                    <li class="special">
                        <p>Privacy Policy</p>
                    </li>
                </ul>
            </div>

            <div class="right-bott">
                <p>Designed by</p>
                <p class="orange">Vention</p>
            </div>
        </div>
    </div>
</footer>
