<footer class="main">
    <div class="containertop">
        <div class="left">
            <img class="logo" src="assets/icons/Logo.svg" alt="">
            <p>Find anything you're looking for,
                <br> at a price that you'll really love
            </p>
            <ul>
                <li><img src="assets/icons/TelegramIcon.svg" alt=""></li>
                <li><img src="assets/icons/FacebookIcon.svg" alt=""></li>
                <li><img src="assets/icons/InstagramIcon.svg" alt=""></li>
            </ul>
        </div>
        <div class="right">
            <ul class="mainul">
                <ul>
                    <p>Useful links title</p>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                </ul>
                <ul>
                    <p>Useful links title</p>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                </ul>
                <ul>
                    <p>Useful links title</p>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                    <li>
                        <img src="assets/icons/StarIcon.svg" alt="">
                        <a href="">Link</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>

    <div class="line">

    </div>

    <div class="containerbott">
        <div class="left_b">
            <ul>
                <li>
                    <p>Auctionify Inc.</p>
                </li>
                <li class="special">
                    <p>Sitemap</p>
                </li>
                <li class="special">
                    <p>Privacy Policy</p>
                </li>
            </ul>
        </div>
        <div class="right_b">
            <p>Designed by </p> <p class="orange">Vention</p>
        </div>
    </div>
</footer>