<div class="menu">
    <div class="menu__items">
        <button
            routerLink="/profile"
            routerLinkActive="mat-primary"
            mat-flat-button
            color="white"
        >
            <div class="button-content">
                <mat-icon>person_outline</mat-icon>
                My profile
            </div>
        </button>
        <button
            routerLink="/rating"
            routerLinkActive="mat-primary"
            mat-flat-button
            color="white"
        >
            <div class="button-content">
                <mat-icon>star_border</mat-icon>
                Rating & Review
            </div>
        </button>
        <ng-container *ngIf="isSellerPro">
            <button
                routerLink="/subscriptions/pro-subscription"
                routerLinkActive="mat-primary"
                mat-flat-button
                color="white"
            >
                <div class="button-content">
                    <mat-icon>settings</mat-icon>
                    Manage PRO Subscription
                </div>
            </button>
        </ng-container>
        <button type="button" (click)="logOut()" mat-flat-button color="white">
            <div class="button-content">
                <mat-icon color="warn">logout</mat-icon>
                Log out
            </div>
        </button>
    </div>
</div>
