.seller {
    &-navigation {
        display: flex;
    }

    &-navigation__navbar {
        padding: 24px 40px;
        padding-bottom: 64px;
        display: flex;
        flex-direction: column;
        gap: 240px;
        border-right: 1px solid var(--color-grey-5);

        & .mdc-button {
            justify-content: start;

            font-size: 16px;
            font-weight: 600;
            line-height: 24px;

            & mat-icon {
                width: auto;
                height: auto;
                font-size: 24px;
            }
        }
    }

    &-navigation__container {
        width: 14%;
        min-width: 321px;
    }
}

.navbar {
    &__top {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }

    &__top-middle {
        width: 100%;
    }

    &__top-footer {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    &__bottom-header {
    }
}

.burger {
    &-menu {
        width: 48px;
        height: 48px;
        border: 2px solid var(--color-main);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: white;

        & mat-icon {
            color: var(--color-main);
        }
    }
}

.content-container {
    min-width: 0;
    width: 100%;
}

.pro-button {
    & {
        & mat-icon {
            margin-left: -8px;
            margin-right: 6px;
        }

        font-family: onest;
        color: var(--color-main);
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 20px;
        border-radius: 7px;
        border: 1px solid var(--color-main);
        font-size: 16px;
        font-weight: 600;
        background: transparent;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    &:hover {
        background: rgb(61, 106, 255);
        color: #fff;
        box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
        border: 1px solid rgb(61, 106, 255);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    &:hover::before {
        -webkit-animation: sh02 0.5s 0s linear;
        -moz-animation: sh02 0.5s 0s linear;
        animation: sh02 0.5s 0s linear;
    }

    &::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

    @keyframes sh02 {
        from {
            opacity: 0;
            left: 0%;
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 0;
            left: 100%;
        }
    }

    &:active {
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: box-shadow 0.2s ease-in;
        -moz-transition: box-shadow 0.2s ease-in;
        transition: box-shadow 0.2s ease-in;
    }
}
