<p>dashboard-active-lots works!</p>

<swiper-container slides-per-view="5" speed="500" mousewheel="true" navigation="true">
    <swiper-slide>
        <app-lot-item [lot]="lot" [isUserBuyer]="false"></app-lot-item>
    </swiper-slide>
    <swiper-slide>
        <app-lot-item [lot]="lot" [isUserBuyer]="false"></app-lot-item>
    </swiper-slide>
    <swiper-slide>
        <app-lot-item [lot]="lot" [isUserBuyer]="false"></app-lot-item>
    </swiper-slide>
    <swiper-slide>
        <app-lot-item [lot]="lot" [isUserBuyer]="false"></app-lot-item>
    </swiper-slide>
    <swiper-slide>
        <app-lot-item [lot]="lot" [isUserBuyer]="false"></app-lot-item>
    </swiper-slide>
    <swiper-slide>
        <app-lot-item [lot]="lot" [isUserBuyer]="false"></app-lot-item>
    </swiper-slide>
</swiper-container>