.container-main {
    position: relative;

    &__inner {
        max-width: 1522px;
        margin: 0 auto;
        padding-top: 24px;
        padding-bottom: 120px;
    }
}

.container-seller {
    padding: 24px 40px;
}