.profile {
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 32px;

    &__top-container {
        height: 148px;
        border-radius: 16px;
        border: 1px solid #E0E0E0;
        display: flex;
        gap: 40px;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__top-container img {
        border-radius: 50%;
    }

    &__container-left-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__rate {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__rate-stars {
        display: flex;
        align-items: center;
    }

    &__rate-stars mat-icon {
        color: #ffc72c;
    }

    &__rate-lots {
        display: flex;
        gap: 16px;
    }
}

.main-container {
    display: flex;
    gap: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid #E0E0E0;
    padding: 40px;
    min-width: 700px;

    &__profile {
        display: flex;
        align-items: center;
        gap: 80px;
    }

    &__photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }

    &__photo img {
        border-radius: 50%;
    }

    &__photo button {
        width: 157px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: transparent;
        border: none;
    }

    &__name-date {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__about-me {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__personal-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__number-email {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }

    &__btns-edit {
        display: flex;
        gap: 16px;
    }

    &__btns-edit button {
        border: 2px solid #E0E0E0;
        background-color: transparent;
    }

    &__btns-edit button:hover {
        background-color: #2B5293;
        color: white;
        transition: 0.3s ease;
    }

    &__edit-btn {
        width: 164px;
    }

    &__change-password-btn {
        width: 210px;
    }
}