<div class="profile">
    <div class="profile__title">
        <h1>My profile</h1>
    </div>
    <div class="profile__top-container">
        <img
            [src]="
                userProfileData && userProfileData.profilePictureUrl
                    ? userProfileData.profilePictureUrl
                    : '../../../../../assets/images/User.png'
            "
            alt="User-profile-image"
            width="100"
            height="100"
        />
        <div class="profile__container-left-info">
            <p>Welcome Back, {{ userProfileData?.firstName }}!</p>
            <div class="profile__rate-lots">
                <div class="profile__rate">
                    <!-- Div for rates -->
                </div>
                <div class="profile__lots-count" *ngIf="isUserSeller()">
                    Lots created {{ userProfileData?.createdLotsCount }} | Lots
                    finished {{ userProfileData?.finishedLotsCount }}
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main">
            <div class="main__profile">
                <div class="main__photo">
                    <img
                        [src]="
                            userProfileData && userProfileData.profilePictureUrl
                                ? userProfileData.profilePictureUrl
                                : '../../../../../assets/images/User.png'
                        "
                        alt="User-profile-image"
                        width="200"
                        height="200"
                    />
                </div>
                <div class="main__name-date">
                    <h1>
                        {{ userProfileData?.firstName }}
                        {{ userProfileData?.lastName }}
                    </h1>
                </div>
            </div>
            <div class="main__about-me">
                <h2>About me</h2>
                <p>{{ userProfileData?.aboutMe }}</p>
            </div>
            <div class="main__personal-info">
                <h2>Personal info</h2>
                <div class="main__number-email">
                    <p>{{ userProfileData?.phoneNumber }}</p>
                    <p>{{ userProfileData?.email }}</p>
                </div>
            </div>
            <div class="main__btns">
                <div class="main__btns-edit">
                    <div class="main__edit-btn">
                        <button mat-flat-button routerLink="/update-profile">
                            <mat-icon>edit</mat-icon> Change Info
                        </button>
                    </div>
                    <div class="main__change-password-btn">
                        <button mat-flat-button routerLink="/change-password">
                            <mat-icon>lock</mat-icon> Change Password
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <app-profile-navbar></app-profile-navbar>
        </div>
    </div>
</div>
