.file-select {
    background-color: white;
    border-radius: 24px;
}

.file-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px 20px 20px;
    position: relative;
    width: 300px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .close-button {
        position: absolute;
        color: red;
        top: 0;
        right: 0;
        margin: 8px;
        transform: scale(0.9);
    }
    .close-button:hover {
        cursor: pointer;
        transform: scale(0.8);
    }
}

.files-list {
    display: flex;
    gap: 12px;

    & p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 284px;

        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    button {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        border: none;
    }
}
