.withdraw-bid {
    &-operation {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 400px;
        height: fit-content;
        transform: translate(-50%, -50%);
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-radius: 24px;
        background-color: #f8f8f8;
    }

    &-operation__title {
        color: var(--color-text-primary);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }

    &-operation__description {
        color: var(--color-grey-3);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }

    &-operation__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }
}

.withdraw-bid-button {
    font-weight: bold;
    font-size: 16px;
    color: var(--color-error);
    background-color: #f8f8f8;
    border: 2px solid var(--color-error);
}

.withdraw-bid-button:hover {
    color: #f8f8f8;
    background-color: var(--color-error);
    border: 2px solid var(--color-error);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-withdraw-bid-button {
    font-weight: bold;
    font-size: 16px;
    color: var(--color-main);
    background-color: #f8f8f8;
    border: 2px solid var(--color-main);
}

.cancel-withdraw-bid-button:hover {
    color: #f8f8f8;
    background-color: var(--color-main);
    border: 2px solid var(--color-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
