:host {
    display: block;
    width: 480px;
    height: 344px;
    background: #fff;
    border-radius: 24px;
}

.modal {
    &__inner {
        padding: 40px 48px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

        p {
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
            color: var(--color-grey-3);
        }
    }
}

.error-main {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
}