<div class="dialog-container">
    <div class="header">
        <h2>Location Info</h2>
        <button mat-icon-button (click)="closePopup()" class="close-button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form [formGroup]="locationGroup" class="location-form">
        <mat-form-field color="primary" appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput #addressInput />
            <mat-error
                *ngIf="locationGroup.controls.address.hasError('required')"
            >
                Address is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div class="country-city">
            <input
                type="text"
                class="country"
                formControlName="country"
                placeholder="Country*"
                readonly
            />
            <input
                type="text"
                class="city"
                formControlName="city"
                placeholder="City*"
                readonly
            />
        </div>
        <input type="hidden" formControlName="latitude" />
        <input type="hidden" formControlName="longitude" />
        <button
            type="button"
            (click)="submit()"
            mat-flat-button
            color="primary"
        >
            Save
        </button>
    </form>
</div>
