<div class="lot-operation">
    <div class="lot-operation__inner-container">
        <h1 class="lot-operation__header">
            Create a lot
        </h1>
        <div class="lot-operation__main">
            <div class="main__form">
                <form [formGroup]="lotForm" class="lot-form" action="">
                    <div class="form__lot-info">
                        <h2 class="lot-info__header">Describe an item</h2>
                        <div class="lot-info__inputs">
                            <div class="inputs__row-1">
                                <mat-form-field color="primary" appearance="outline">
                                    <mat-label>Lot name</mat-label>
                                    <input formControlName="title" matInput>
                                    <mat-error *ngIf="lotForm.controls.title.hasError('required')">
                                        Title is
                                        <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="lotForm.controls.title.hasError('minlength')">
                                        Minimun length is 6 symbols
                                    </mat-error>
                                    <mat-error *ngIf="lotForm.controls.title.hasError('maxlength')">
                                        Maximum length is 30 symbols
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field color="primary" appearance="outline">
                                    <mat-label>Item category</mat-label>
                                    <mat-select formControlName="categoryId">
                                        <mat-option [value]="null">
                                            none
                                        </mat-option>
                                        <div class="sel" *ngFor="let item of categories">
                                            <mat-option [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                            <mat-option *ngFor="let itemChild of item.children" [value]="itemChild.id">
                                                -- {{itemChild.name}}
                                            </mat-option>
                                        </div>
                                    </mat-select>
                                    <mat-error *ngIf="lotForm.controls.categoryId.hasError('required')">
                                        Category is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="inputs__row-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Short description</mat-label>
                                    <textarea formControlName="description" matInput name="" id="" cols="30"
                                        rows="10"></textarea>
                                    <mat-error *ngIf="lotForm.controls.description.hasError('required')">
                                        Description is
                                        <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="lotForm.controls.description.hasError('minlength')">
                                        Minimun length is 30 symbols
                                    </mat-error>
                                    <mat-error *ngIf="lotForm.controls.description.hasError('maxlength')">
                                        Maximum length is 500 symbols
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="inputs__row-3">
                                <mat-form-field color="primary" appearance="outline">
                                    <mat-label>Start date & time</mat-label>
                                    <input formControlName="startDate" matInput type="datetime-local">
                                    <mat-error *ngIf="lotForm.controls.startDate.hasError('required')">
                                        Start date is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field color="primary" appearance="outline">
                                    <mat-label>End date & time</mat-label>
                                    <input formControlName="endDate" matInput type="datetime-local">
                                    <mat-error *ngIf="lotForm.controls.endDate.hasError('required')">
                                        End date is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="lot-info__selector-inputs">
                            <div class="buttons location-btn">
                                <button type="button" mat-flat-button [color]="isLocationValid ? 'accent' : 'warn'"
                                    (click)="clickLocation()">
                                    <mat-icon class="color-grey-3" matSuffix>location_on</mat-icon>
                                    Location
                                </button>
                                <div id="button-select-parent-location" class="button-select location-select">
                                    <div class="select-container location-container">
                                        <mat-form-field color="primary" appearance="outline">
                                            <mat-label>Country</mat-label>
                                            <input formControlName="country" matInput>
                                            <mat-error *ngIf="lotForm.controls.country.hasError('required')">
                                                Country is
                                                <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field color="primary" appearance="outline">
                                            <mat-label>City</mat-label>
                                            <input formControlName="city" matInput>
                                            <mat-error *ngIf="lotForm.controls.city.hasError('required')">
                                                City is
                                                <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field color="primary" appearance="outline">
                                            <mat-label>Address</mat-label>
                                            <input formControlName="address" matInput>
                                            <mat-error *ngIf="lotForm.controls.address.hasError('required')">
                                                address is
                                                <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons starting-price-btn">
                                <button type="button" mat-flat-button color="accent" (click)="clickStartingPrice()">
                                    <mat-icon matSuffix class="color-grey-3">attach_money</mat-icon>
                                    Starting price
                                </button>
                                <div id="button-select-parent-starting-price" class="button-select location-select">
                                    <div class="select-container starting-price-container">
                                        <div class="row">
                                            <mat-form-field color="primary" appearance="outline">
                                                <mat-label>Starting price</mat-label>
                                                <input formControlName="startingPrice" type="number" matInput>
                                                <mat-error *ngIf="lotForm.controls.startingPrice.hasError('required')">
                                                    Starting price is
                                                    <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field color="primary" appearance="outline">
                                                <mat-label>Currency</mat-label>
                                                <mat-select formControlName="currencyId">
                                                    <mat-option [value]="null">
                                                        none
                                                    </mat-option>
                                                    <mat-option *ngFor="let currency of currencies"
                                                        [value]="currency.id">
                                                        {{currency.code}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="lotForm.controls.currencyId.hasError('required')">
                                                    Currency is
                                                    <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons currency-btn">
                                <button type="button" mat-flat-button color="accent" (click)="clickStartingPrice()">
                                    <mat-icon matSuffix class="color-grey-3">paid</mat-icon>
                                    Currency
                                </button>
                            </div>
                            <div class="buttons file-btn">
                                <button type="button" mat-flat-button color="accent" (click)="clickFile()">
                                    <mat-icon matSuffix class="color-grey-3">attach_file</mat-icon>
                                    File
                                </button>
                                <div id="button-select-parent-file" class="button-select file-select">
                                    <div class="select-container file-container">
                                        <div *ngFor="let item of filesToUpload" class="files-list">
                                            <p>{{item.file.name}}</p>
                                            <button type="button" (click)="removeInputFile(item.id)">
                                                <mat-icon>highlight_off</mat-icon>
                                            </button>
                                        </div>
                                        <input #fileInput (change)="fileUpdateEvent($event)" hidden="true" type="file"
                                            onclick="this.value=null" multiple />
                                        <button type="button" class="mat-mdc-outlined-button-custom" mat-stroked-button
                                            color="primary" (click)="handleFileInputButtonClick()">+ Add new</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="color-grey-5">
                    <div class="form__lot-photos">
                        <h2>Add some photos</h2>
                        <div class="photos__container">
                            <input #imageInput (change)="imageUpdateEvent($event)" hidden="true" type="file"
                                accept="image/*" onclick="this.value=null" multiple />
                            <div #imageElements *ngFor="let item of imagesToUpload;" class="input-buttons">
                                <button type="button" [id]="'photo-button-remove-'+item.name"
                                    class="photo-button-remove" (click)="removeImageFromInput(item.name)">
                                    <mat-icon>highlight_off</mat-icon>
                                </button>
                                <button class="photo-button" type="button" color="primary">
                                    <img [id]="'photo-button-'+item.name" class="photo-button-image" src="" alt="">
                                    <mat-icon>add_circle_outline</mat-icon>
                                </button>
                            </div>
                            <button class="photo-button" type="button" color="primary"
                                [disabled]="imagesToUpload.length >= 20" (click)="handleImageInputButtonClick()">
                                <img class="photo-button-image" src="" alt="">
                                <div class="photo-button-add">
                                    <mat-icon>photo_camera</mat-icon>
                                    <p>Add photo</p>
                                </div>

                            </button>
                        </div>
                    </div>
                    <hr class="color-grey-5">
                    <div class="form__lot-buttons">
                        <div class="submit-buttons">
                            <button class="mat-mdc-outlined-button-custom" mat-stroked-button
                                disabled="{{isLoading || isLoadingDraft}}" color="primary" type="button"
                                (click)="submitLot(true)">
                                <mat-spinner *ngIf="isLoadingDraft" diameter="25"></mat-spinner>
                                <div *ngIf="!isLoadingDraft">Save as draft</div>
                            </button>
                            <button mat-flat-button disabled="{{isLoading || isLoadingDraft}}" color="primary"
                                type="submit" (click)="submitLot(false)">
                                <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                                <div *ngIf="!isLoading">Submit</div>
                            </button>
                        </div>
                        <p>By clicking “Submit” button I accept <br>
                            Company’s Terms of Use and Privacy Policy</p>
                    </div>
                </form>
            </div>
            <div class="main__notes">
                <div class="notes__inner">
                    <div class="note__row note__row-1">
                        <img src="../../../../assets/images/create-lot/Create.svg" alt="create lot image">
                        <div class="note__text">
                            <b>Create a new lot</b>
                            <p>It’s absolutely free</p>
                        </div>
                    </div>
                    <div class="note__row note__row-2">
                        <img src="../../../../assets/images/create-lot/Chat.svg" alt="Chat image">
                        <div class="note__text">
                            <b>Chat with winner</b>
                            <p>Discuss delivery & price</p>
                        </div>
                    </div>
                    <div class="note__row note__row-3">
                        <img src="../../../../assets/images/create-lot/Feedback.svg" alt="Feedback lot image">
                        <div class="note__text">
                            <b>Receive feedback</b>
                            <p>Comments from customer</p>
                        </div>
                    </div>
                </div>
                <div class="notes__questions">
                    <b>Have questions?</b>
                    <button class="mat-mdc-outlined-button-custom" mat-stroked-button color="primary">
                        Contact us
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>