.lot {
    &-operation {
        padding: 40px 0 120px 40px;
    }

    &-operation__inner-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &-operation__header {}

    &-operation__main {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    &-info__header {}

    &-info__inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-info__selector-inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        & .buttons {
            width: 100%;
            position: relative;
        }

        & button {
            position: relative;

            & mat-icon {
                color: var(--color-grey-3);
                transition: all .2s ease;
                font-size: 27px;
                height: auto;
                width: auto;
            }
        }
    }
}

.main {
    &__form {
        width: 90%;

        & .lot-form {
            display: flex;
            flex-direction: column;
            padding: 40px 39px 64px 39px;
            border: 1px solid var(--color-grey-5);
            border-radius: 16px;
            gap: 40px;
        }
    }

    &__notes {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


}

.form {
    &__lot-info {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__lot-photos {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__lot-buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 16px;

        & .submit-buttons {
            display: flex;
            flex-direction: row;
            gap: 8px;

            & button {
                width: 100%;
            }
        }

        & p {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-align: right;
            color: var(--color-grey-5);
        }

        & .delete-button {
            max-width: 160px;
        }

    }
}

.inputs {
    &__row-1 {
        display: flex;
        flex-direction: row;
        gap: 16px;

        & mat-form-field {
            width: 100%;
        }
    }

    &__row-2 {
        & mat-form-field {
            width: 100%;
        }
    }

    &__row-3 {
        display: flex;
        flex-direction: row;
        gap: 16px;

        & mat-form-field {
            width: 100%;
        }
    }
}

.photos {
    &__container {
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
    }
}

.photo {
    &-button {
        position: relative;
        width: 188px;
        height: 160px;
        outline: none;
        border: none;
        background-color: white;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='37' ry='37' stroke='%23BDBDBDFF' stroke-width='5' stroke-dasharray='9' stroke-dashoffset='38' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 37px;
        transition: all .2s ease;
        overflow: hidden;

        & mat-icon {
            color: var(--color-grey-3);
            transition: all .2s ease;
            font-size: 27px;
            height: auto;
            width: auto;
        }

        &:hover:not([disabled]) {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='37' ry='37' stroke='%232B5293FF' stroke-width='5' stroke-dasharray='9' stroke-dashoffset='38' stroke-linecap='square'/%3e%3c/svg%3e");
        }

        &:hover:not([disabled]) mat-icon {
            color: var(--color-main);
        }

        &:hover:not([disabled]) p {
            color: var(--color-main);
        }

        &-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 130%;
        }

        &-remove {
            display: none;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba($color: #fff, $alpha: .20);
            z-index: 2;

            font-size: 64px;
            border: none;
        }

        .image-added &-remove {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-add {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & p {
                font-family: Onest;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                text-align: center;
                color: var(--color-grey-3);
                transition: all .2s ease;
            }
        }
    }
}

.notes {
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-color: var(--color-container);
        padding: 40px;
        border-radius: 16px;
    }

    &__questions {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: var(--color-container);
        padding: 24px 40px;
        border-radius: 16px;
        text-align: center;

        & b {
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
        }
    }
}

.note {
    &__row {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }
}

:host ::ng-deep .mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block;
}

.button-select {
    position: absolute;
    background-color: white;
    display: none;
    margin-top: 15px;

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);

    z-index: 999;
}

.show {
    display: block;
}

.select-container {
    padding: 20px;

    & .row {
        display: flex;
        gap: 8px;

        &>mat-form-field:first-child {
            width: 90%;
        }
    }
}

.file-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.files-list {
    display: flex;
    gap: 12px;

    & p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 284px;

        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    button {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        border: none;
    }
}

.input-buttons {
    position: relative;
}

.submit-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}