.email-sent {
    width: 100%;
    height: 100%;
    padding-top: 114px;
    padding-bottom: 194px;

    &__container {
        width: 520px;
        border-radius: 24px;
        background-color: white;
        margin: 0 auto;
    }

    &__container-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 40px 48px;
    }

    &__header {
        mat-icon.email-icon {
            transform: scale(2);
        }
    }

    &__main-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__email {
        color: var(--color-main);
        font-weight: bold;
    }

    &__redirect {
        a {
            color: var(--color-main);
        }
    }
}