<section class="dashboard-main">
    <section class="lots-section">
        <h2>Active lots</h2>
        <app-dashboard-active-lots></app-dashboard-active-lots>
    </section>
    <div class="dashboard__transactions-section">
        <h2 class="dashboard__transactions-title">Transactions history</h2>
        <a routerLink="/get-transactions">
            <button
                mat-flat-button
                type="button"
                class="dashboard__transactions-show-all-btn"
            >
                <p class="dashboard__transactions-show-all">Show all</p>
                <mat-icon
                    class="dashboard__transactions-arrow-icon"
                    iconPositionEnd
                    >arrow_forward</mat-icon
                >
            </button>
        </a>
    </div>
    <section class="transactions">
        <app-transactions
            [transactionsCount]="3"
            [showHeader]="false"
            class="left-align"
        ></app-transactions>
    </section>
    <section class="lots-section">
        <h2>Saved drafts</h2>
        <app-dashboard-draft-lots></app-dashboard-draft-lots>
    </section>
</section>
