.dashboard {
    &-main {
        padding: 40px;
        padding-top: 24px;
    }
}

.active-lots {
    & h2 {
        margin-bottom: 40px;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
    }
}