<div class="profile">
    <div class="profile__title">
        <h1>My profile</h1>
    </div>
    <div class="prfile__top-container">
        <div class="profile__container-left">
            <img src="" alt="" width="100">
            <div class="profile__container-left-info">
                <p>Welcome Back, Maftuna!</p>
                <div class="profile__rate-lots">
                    <div class="profile__rate">
                        (24)
                    </div>
                    <div class="profile__lots-count">
                        Lots created 123 | Lots finished 123
                    </div>
                </div>
            </div>
        </div>

        <div class="profile__container-right">
            
        </div>
    </div>
    <div class="left">
        <div class="left__profile">
            <div class="left__photo">
                <img src="" alt="" width="200">
                <button mat-button>Change picture</button>
            </div>
            <div class="left__name-date">
                <h1>Maftuna Abdullaeva</h1>
                <p>Registered: 12/12/12</p>
            </div>
        </div>
        <div class="left__about-me">
            <h2>About me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Quo, dignissimos similique quasi doloremque nobis veniam sequi deleniti 
                fugit facilis tempore nemo voluptatum 
                est pariatur veritatis hic! Consectetur, labore quibusdam! Eligendi?</p>
        </div>
        <div class="left__personal-info">
            <h2>Presonal info</h2>
            <div class="left__number-email">
                <p>123124123</p>
                <p>Sample@gmail.com</p>
            </div>
        </div>
        <div class="left__public-information">
            <h1>Show public information?</h1>
            <div class="left__options">
                
            </div>
        </div>
        <div class="left__btns">
            <div class="left__btns-edit">
                <button mat-button>
                    <mat-icon>edit</mat-icon> Change Info
                </button>
                <button mat-button>
                    <mat-icon>lock</mat-icon> Change Password
                </button>
            </div>
        </div>
    </div>
    <div class="right">

    </div>
</div>