.profile {
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    flex-direction: column;
    gap: 32px;

    &__top-container {
        height: 148px;
        border-radius: 16px;
        border: 1px solid #E0E0E0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__top-container img {
        border-radius: 50%;
    }

    &__container-left-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__rate-lots {
        display: flex;
        gap: 16px;
    }
}

.left{
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 1014px;
    border-radius: 16px;
    border: 1px solid #E0E0E0;

    &__profile {
        display: flex;
        align-items: center;
        width: 585px;
        justify-content: space-between;
    }

    &__photo {
        display: flex;
        justify-content: center;
        gap: 4px;
    }

    &__photo img {
        border-radius: 50%;
    }

    &__photo button {
        width: 157px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: transparent;
        border: none;
    }

    &__name-date {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__about-me {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__personal-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__number-email {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }

    &__btns-edit {
        display: flex;
        gap: 16px;
    }

    &__btns-edit button {
        border: 1px solid #E0E0E0;
        background-color: transparent;
    }
}