<div class="profile__top-container">
    <img
        [src]="
            userProfileData && userProfileData.profilePictureUrl
                ? userProfileData.profilePictureUrl
                : '../../../../../assets/images/User.png'
        "
        alt="User-profile-image"
        width="100"
        height="100"
    />
    <div class="profile__container-left-info">
        <p>Welcome Back, {{ userProfileData?.firstName }}!</p>
        <div class="profile__rate-lots">
            <div class="profile__rate">
                <div class="profile__rate-stars">
                    <mat-icon *ngFor="let star of getAverageStars(userProfileData?.ratesCount!)">{{ star }}</mat-icon>
                </div>
                <p>({{userProfileData?.ratesCount}})</p>
            </div>
            <div class="profile__lots-count" *ngIf="isUserSeller()">
                Lots created {{ userProfileData?.createdLotsCount }} | Lots
                finished {{ userProfileData?.finishedLotsCount }}
            </div>
        </div>
    </div>
</div>