.profile {

    &__top-container {
        height: 148px;
        border-radius: 16px;
        border: 1px solid #e0e0e0;
        display: flex;
        gap: 40px;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__top-container img {
        border-radius: 50%;
        object-fit: cover;
    }

    &__container-left-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__rate {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__rate-stars {
        display: flex;
        align-items: center;
    }

    &__rate-stars mat-icon {
        color: #ffc72c;
    }

    &__rate-lots {
        display: flex;
        gap: 16px;
    }
}