.header {
    max-width: 1520px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;

    &__search {
        flex: 1 1;
        min-width: 150px;
    }
}

.navigation {
    gap: 16px;
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.navigation li {
    align-items: center;
    display: flex;
    font-size: 16;
}

.navigation li button {
    width: 110px;
    color: #a22c23;
    font-weight: bold;
    justify-content: flex-end;
}

.navigation li img {
    padding: 12px;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-weight: bold;

    &:hover {
        color: var(--color-main);
    }

    &.logout-button {
        color: var(--color-error);
    }

    &.logout-button:hover {
        color: red;
    }
}

.logout {
    &__btn {
        display: flex;
    }

    &__btn-content {
        display: flex;
        align-items: center;
    }
}