<div class="header">
    <a [routerLink]="['/home']">
        <img src="assets/icons/AuctionifyLogo.svg" title="AuctionifyLogo" />
    </a>

    <div class="header__search">
        <app-search></app-search>
    </div>

    <ul class="navigation">
        <li>
            <img src="assets/icons/DashboardIcon.svg" alt="Dashboard Icon" />
            <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
            <img src="assets/icons/WishlistIcon.svg" alt="Wishlist Icon" />
            <a routerLink="/wishlist">Wishlist</a>
        </li>
        <ng-container *ngIf="isAuthenticated">
            <li>
                <img src="assets/icons/ProfileIcon.svg" alt="Profile Icon" />
                <a routerLink="/profile">My Profile</a>
            </li>
            <li>
                <img src="assets/icons/LogoutIcon.svg" alt="Logout Icon" />
                <a (click)="logout()" class="logout-button">Logout</a>
            </li>
        </ng-container>

        <ng-container *ngIf="!isAuthenticated">
            <li>
                <img src="assets/icons/ProfileIcon.svg" alt="Profile Icon" />
                <a [routerLink]="['/auth/login']">Login</a>
            </li>
        </ng-container>
    </ul>
</div>
