<div class="header">
    <a [routerLink]="['/home']">
        <img src="assets/icons/AuctionifyLogo.svg" title="AuctionifyLogo">
    </a>

    <div class="header__search">
        <app-search></app-search>
    </div>

    <ul class="navigation">
        <li>
            <img src="assets/icons/DashboardIcon.svg" alt="Dashboard Icon">
            <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
            <img src="assets/icons/NotificationIcon.svg" alt="Notification Icon">
            <a routerLink="/notification">Notification</a>
        </li>
        <li>
            <img src="assets/icons/WishlistIcon.svg" alt="Wishlist Icon">
            <a routerLink="/wishlist">Wishlist</a>
        </li>
        <li>
            <img src="assets/icons/MessagesIcon.svg" alt="Message Icon">
            <a routerLink="/messages">Messages</a>
        </li>
        <li>
            <img src="assets/icons/ProfileIcon.svg" alt="Profile Icon">
            <a routerLink="/profile">My Profile</a>
        </li>
    </ul>

</div>
